* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #f9e8e6;
}
main {
    width: 70%;
    background-color: white;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: 17rem 1fr;
    max-height: 30rem;
    overflow: hidden;
}
.grid-1 {
    background-image: url(/media/background.jpg);
    background-size: cover;
    padding: 1.5rem;
}
.back-arrow {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.arrow {
    width: 1rem;
}
.grid-2 {
    background-color: white;
    padding: 1.5rem;
}
header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    opacity: 0.7;
    margin-bottom: 5rem;
}
header:hover {
    opacity: 1.0;
    font-weight: bold;
}
.visiting {
    margin-left: 3rem;
    font-size: 3rem;
}
.pastelle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 3rem;
}
.line {
    border-bottom: 3px solid black;
    width: 5rem;
}
.jerry {
    margin: 1rem 0 0 3.5rem;
    font-size: large;
}
.info {
    margin-top: 3rem;
    padding: 0 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.info-1 {
    position: relative;
}
.preview {
    width: 9rem;
}
.play-circle{
    width: 2rem;
    height: 2rem;
    background-color: white;
    opacity: 0.8;
    border-radius: 50%;
    position: absolute;
    top: 2rem;
    right: 5rem;
    padding: .25rem;
    
}
.caption {
    margin-top: .5rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}
figcaption {
    font-size: 12px;
    font-weight: bold;
}
.info-2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.25rem;
}